@media only screen and (min-width: 320px) and (max-width: 990px) {
  .logo {
    width: 80%;

    strong {
      width: 70%;
      font-size: 20px;
      margin-left: 10px;
    }
  }

  .sec {
    font-size: 16px;
  }

  .cont-inicio {
    display: inline-block;

    .left {
      height: 100vh;
      width: 100%;
    }

    .right {
      width: 100%;

      .call {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        padding: 10px;
      }
    
      .hola {
        font-size: 20px;
      }
    
      p {
        font-size: 15px;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 390px) and (max-width: 660px) {
  .info {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .cont-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item3 item5"
      "item6 item5"
      "item8 item11"
      "item8 item10"
      "item9 item9"
      "item7 item12";
  }
}

@media only screen and (min-width: 580px) and (max-width: 1600px) {
  .cont-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
    grid-template-areas:
      "item1 item2 item2 item3"
      "item1 item4 item5 item3"
      "item6 item7 item5 item8"
      "item6 item10 item10 item8"
      "item9 item9 item12 item11"
      "item9 item9 item12 item11";
  }
}

@media only screen and (min-width: 690px) and (max-width: 1260px) {
  .cont-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .form-left{
      width: 100%;
      height: 50%;

      .cajacontacto {
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
      }
    }

    .form-right {
      width: 100%;
      height: 50%;

      .formulario {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }
}

@media only screen and (max-width: 690px) {
  .cont-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .form-left{
      width: 100%;
      height: 50%;

      .cajacontacto {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;

        p {
          font-size: 15px;
        }
      }
    }

    .form-right {
      width: 100%;
      height: 50%;

      .formulario {
        width: 90%;
        margin-bottom: 10px;
        padding: 10px;

        input {
          width: 90%;
          margin-left: 10px;
        }
      
        textarea {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .cajas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 990px){
  footer{
    height: 150px;

    .redes i {
      font-size: 30px;
      letter-spacing: 10px;
    }

    .copy{
      font-size: 15px;
    }
  }
}