@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Sono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:ital,wght@1,300&family=Sono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:ital,wght@1,300&family=Josefin+Slab&family=Sono:wght@200&display=swap");

$bg-color1: rgb(227, 227, 209);
$bg-color2: rgb(244, 244, 234);
$font1: "Josefin Slab", serif;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*inicio de header*/
.navbar {
  background-image: linear-gradient(to bottom, #dcdcba, #e2e2c6, #e8e8d2, #eeeede, #f4f4ea);
  display: flex;
  justify-content: space-evenly;
}

.logo {
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: black !important;
  font-family: "Cormorant Garamond", serif;;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  text-align: center;
}

.nav-link:hover {
  transform: scale(1.3);
  transition: all 0.9s;
}

.navbar-nav li {
  margin: auto;
  margin-left: 5%;
}

.navbar-toggler i {
  color: black;
  border: none;
}

/*fin de header*/

.sec {
  width: 100%;
  font-family: $font1;
  background-color: $bg-color2;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  border: 1px solid black;
}

/*inicio de inicio*/
.cont_inicio {
  height: auto;
  width: 100%;
  background-color: $bg-color1;
  display: flex;
}

.left {
  background-image: url(images/fotocamara.png);
  background-size: cover;
  background-position: right;
  height: 100vh;
  width: 50%;
  opacity: 0.6;
}

.right {
  height: auto;
  width: 50%;
  background-color: $bg-color1;
}

.call {
  max-width: 70%;
  padding: 40px;
  border: 5px solid rgb(200, 200, 178);
  margin: auto;
  margin-top: 55px;
  background-color: $bg-color1;
}

.call,
.hola {
  color: rgb(92, 92, 92);
  font-family: $font1;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  background-color: $bg-color1;
}

.call p {
  color: rgb(92, 92, 92);
  font-family: $font1;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $bg-color1;
}
/*fin de inicio*/

/*inicio de sobre mí*/
.cont {
  height: 100%;
  width: 100%;
  background-color: $bg-color1;
}

.container{
  background-color: $bg-color2;
  border: solid 30px $bg-color1;
}

.cont_misfotos{
  display: flex;
  justify-content: center;
  background-color: $bg-color1;
}

.foto {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: $bg-color1;
}

.foto1 {
  background-image: url(images/pexels-allec-gomes-4016854.jpg);
  background-size: cover;
}

.foto2 {
  background-image: url(images/mifoto.jpg);
  background-size: cover;
  background-position: bottom;
}

.foto3 {
  background-image: url(images/pexels-harrison-haines-3800848.jpg);
  background-size: cover;
}

.info {
  font-family: $font1;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 5%;
}

/*fin de sobre mí*/

/*inicio de portfolio*/
.cont_portfolio {
  height: auto;
  width: 100%;
  background-color: $bg-color1;
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 250px);
  grid-template-areas:
    "item1 item2 item2 item3"
    "item4 item4 item5 item3"
    "item6 item7 item5 item8"
    "item6 item10 item10 item8"
    "item9 item9 item12 item11";
  grid-gap: 5px;
}

.item {
  background-image: url(images/pexels-ali-pazani-3374436.jpg);
  background-size: cover;
  background-position: center;
  background-color: $bg-color1;
}

.item1 {
  grid-area: item1;
  background-image: url(images/pexels-sasha-kim-8484060.jpg);
  background-position: top;
}

.item2 {
  grid-area: item2;
  background-image: url(images/pexels-catalina-carvajal-herrera-5992078.jpg);
}

.item3 {
  grid-area: item3;
  background-image: url(images/pexels-ali-pazani-3374436.jpg);
}

.item4 {
  grid-area: item4;
  background-image: url(images/pexels-andrea-piacquadio-839011.jpg);
  background-position: center;
}

.item5 {
  grid-area: item5;
  background-image: url(images/pexels-ulises-peña-12281201\ \(1\).jpg);
}

.item6 {
  grid-area: item6;
  background-image: url(images/pexels-scott-foltz-12162376.jpg);
}

.item7 {
  grid-area: item7;
  background-image: url(images/pexels-heitor-verdi-2529459.jpg);
}

.item8 {
  grid-area: item8;
  background-image: url(images/pexels-cxpturing-souls-3014808.jpg);
  background-position: top;
}

.item9 {
  grid-area: item9;
  background-image: url(images/pexels-sasha-kim-8484058.jpg);
}

.item10 {
  grid-area: item10;
  background-image: url(images/pexels-brenda-lelis-2899746.jpg);
}

.item11 {
  grid-area: item11;
  background-image: url(images/pexels-daniel-duarte-13005188.jpg);
  background-position: top;
}

.item12 {
  grid-area: item12;
  background-image: url(images/pexels-marcelo-chagas-3335352.jpg);
  background-position: top;
}

/*fin de portfolio */

/*fin formulario*/
.cont_form {
  width: 100%;
  height: auto;
  background-color: $bg-color1;
  display: flex;
}

.form_left {
  height: auto;
  width: 50%;
  background-color: $bg-color1;
}

.cajacontacto {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: $bg-color1;
  font-size: 25px;
  width: 80%;
  height: auto;
  padding: 40px;
  margin: auto;
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 80px;
}

.cajacontacto p {
  color: rgb(92, 92, 92);
  font-family: $font1;
  font-weight: bold;
  background-color: $bg-color1;
  border: solid 3px rgb(191, 191, 162);
  padding: 30px;
}

.form_right {
  height: auto;
  width: 60%;
  background-color: $bg-color1;
}

.formulario {
  display: block;
  color: black;
  background-color: $bg-color2;
  font-size: 20px;
  padding: 40px;
  margin: auto;
  margin-top: 16px;
  border: 5px double rgb(191, 191, 162);
  width: 60%;
  height: 95%;
}

label {
  font-family: $font1;
}

input {
  padding: 6px;
  width: 100%;
  font-family: $font1;
  border: none;
  border-bottom: 2px solid rgb(204, 204, 181);
  background: transparent;
}

input:focus{
  background: linear-gradient(to bottom, transparent, rgb(220, 220, 193));
  outline: none;
}

input::placeholder {
  font-family: $font1;
  color: rgb(123, 121, 121);
  font-size: 20px;
}
textarea {
  background-color: $bg-color2;
  max-height: 100px;
  resize: none;
}

textarea:focus{
  background: linear-gradient(to bottom, transparent, rgb(220, 220, 193));
  outline: none;
}

textarea::placeholder {
  font-family: $font1;
  color: rgb(123, 121, 121);
  font-size: 20px;
}

button {
  font-size: 15px;
  font-family: $font1;
  background-color: rgb(205, 201, 201);
  padding: 5px;
  border: 2px solid rgb(167, 165, 165);
  margin-left: 80%;
}

button:hover {
  background-color: rgb(172, 172, 172);
}
/*fin de mi formulario*/

/*inicio de mi contacto */
.cont_micontacto {
  height: 550px;
  width: 100%;
  background-color: $bg-color1;
}

.cont_micontacto h2 {
  text-align: center;
  display: inline-block;
  color: rgb(92, 92, 92);
  font-family: $font1;
  font-size: 30px;
  font-weight: bolder;
  background-color: $bg-color1;
  padding: 20px;
  border: solid 3px rgb(191, 191, 162);
  margin-left: 28%;
  margin-top: 5%;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes efecto {
  from{
    background-color: $bg-color1;
  }

  to{
    background-color: rgb(205, 205, 187);
  }
}


.cajas {
  display: flex;
  justify-content: space-evenly;
  color: rgb(92, 92, 92);
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 50px;
  background-color:$bg-color1;
  margin-top: 5%;
  
  .caja1 {
    width: 20%;
    background-color: $bg-color1;
    padding: 20px;
    border: 3px solid rgb(195, 195, 175);
    
    .caja1:hover {
      transform: scale(1.20);
      transition: all 2.5s;
    }
  }

  .caja2 {
    @extend .caja1;
  }
  
  .caja3{
    @extend .caja1;
  }
}

.cajas h3 {
  color: rgb(92, 92, 92);
  font-family: $font1;
  background: none;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.cajas i {
  color: rgb(92, 92, 92);
  background-color:  $bg-color1;
}
/*inicio de mi contacto */

/*inicio footer*/
footer {
  background-color: $bg-color2;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  border: 2px solid $bg-color1;

  .redes i {
  color: rgb(160, 160, 134);
  letter-spacing: 20px;
  }
}

.redes i:hover {
  color: rgb(189, 189, 189);
  transform: scale(1.20);
  transition: all 0.9s;
}
/*fin footer*/

@import 'media';