@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Sono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:ital,wght@1,300&family=Sono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:ital,wght@1,300&family=Josefin+Slab&family=Sono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*inicio de header*/
.navbar {
  background-image: linear-gradient(to bottom, #dcdcba, #e2e2c6, #e8e8d2, #eeeede, #f4f4ea);
  display: flex;
  justify-content: space-evenly;
}
.navbar .logo a {
  text-decoration: none;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  padding: 10px;
}
.navbar .navbar-toggler i {
  color: black;
  border: none;
}
.navbar .navbar-collapse {
  display: flex;
  justify-content: center;
}
.navbar .navbar-nav li {
  margin: auto;
  margin-left: 5%;
}
.navbar .navbar-nav li .nav-link {
  color: black !important;
  font-family: "Cormorant Garamond", serif;
  font-size: 14px;
  width: 100px;
  text-align: center;
}
.navbar .navbar-nav li .nav-link:hover {
  transform: scale(1.3);
  transition: all 1.2s;
}

/*fin de header*/
.sec {
  width: 100%;
  font-family: "Josefin Slab", serif;
  background-color: rgb(244, 244, 234);
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  border: 1px solid black;
}

/*inicio de inicio*/
.cont-inicio {
  height: auto;
  width: 100%;
  background-color: rgb(227, 227, 209);
  display: flex;
}

.left {
  height: 100vh;
  width: 50%;
  background-color: none;
  background-image: url(images/fotocamara.png);
  background-size: cover;
  background-position: right;
  opacity: 0.6;
}

.right {
  height: auto;
  width: 50%;
  background-color: rgb(227, 227, 209);
}

.call {
  max-width: 90%;
  padding: 40px;
  border: 5px solid rgb(212, 212, 195);
  margin: auto;
  margin-top: 40px;
  background-color: rgb(227, 227, 209);
}

.hola, .call {
  color: rgb(92, 92, 92);
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  background-color: rgb(227, 227, 209);
}

.call p {
  color: rgb(92, 92, 92);
  font-family: "Josefin Slab", serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(227, 227, 209);
  border: none;
}

/*fin de inicio*/
/*inicio de sobre mí*/
.cont {
  height: 100%;
  width: 100%;
  background-color: rgb(227, 227, 209);
}
.cont .cont-misfotos {
  display: flex;
  justify-content: center;
  background-color: rgb(227, 227, 209);
}
.cont .cont-misfotos .foto {
  height: 200px;
  width: 200px;
  background-color: rgb(227, 227, 209);
  margin: 20px;
  margin-top: 40px;
}
.cont .cont-misfotos .foto1 {
  background-image: url(images/pexels-allec-gomes-4016854.jpg);
  background-size: cover;
}
.cont .cont-misfotos .foto2 {
  background-image: url(images/mifoto.jpg);
  background-size: cover;
  background-position: bottom;
}
.cont .cont-misfotos .foto3 {
  background-image: url(images/pexels-harrison-haines-3800848.jpg);
  background-size: cover;
}
.cont .container {
  background-color: rgb(227, 227, 209);
  border: solid 30px rgb(227, 227, 209);
}
.cont .container .info {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  color: rgb(92, 92, 92);
  font-weight: bold;
  margin-top: 5%;
  border: solid 3px rgb(212, 212, 195);
}

/*fin de sobre mí*/
/*inicio de portfolio*/
.cont-portfolio {
  height: auto;
  width: 100%;
  background-color: rgb(227, 227, 209);
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 250px);
  grid-template-areas: "item1 item2 item2 item3" "item4 item4 item5 item3" "item6 item7 item5 item8" "item6 item10 item10 item8" "item9 item9 item12 item11";
  grid-gap: 5px;
}
.cont-portfolio .item {
  background-size: cover;
  background-position: center;
  background-color: rgb(227, 227, 209);
}
.cont-portfolio .item1 {
  grid-area: item1;
  background-image: url(images/pexels-sasha-kim-8484060.jpg);
  background-position: top;
}
.cont-portfolio .item2 {
  grid-area: item2;
  background-image: url(images/pexels-catalina-carvajal-herrera.jpg);
}
.cont-portfolio .item3 {
  grid-area: item3;
  background-image: url(images/pexels-ali-pazani-3374436.jpg);
}
.cont-portfolio .item4 {
  grid-area: item4;
  background-image: url(images/pexels-andrea-piacquadio-839011.jpg);
  background-position: center;
}
.cont-portfolio .item5 {
  grid-area: item5;
  background-image: url(images/pexels-ulises-pe+-ªa-12281201.jpg);
  background-position: top;
}
.cont-portfolio .item6 {
  grid-area: item6;
  background-image: url(images/pexels-scott-foltz-12162376.jpg);
}
.cont-portfolio .item7 {
  grid-area: item7;
  background-image: url(images/pexels-heitor-verdi-2529459\ .jpg);
}
.cont-portfolio .item8 {
  grid-area: item8;
  background-image: url(images/pexels-cxpturing-souls-3014808\ .jpg);
  background-position: top;
}
.cont-portfolio .item9 {
  grid-area: item9;
  background-image: url(images/pexels-sasha-kim-8484058.jpg);
}
.cont-portfolio .item10 {
  grid-area: item10;
  background-image: url(images/pexels-brenda-lelis-2899746\ .jpg);
}
.cont-portfolio .item11 {
  grid-area: item11;
  background-image: url(images/pexels-daniel-duarte-13005188.jpg);
  background-position: top;
}
.cont-portfolio .item12 {
  grid-area: item12;
  background-image: url(images/pexels-marcelo-chagas-3335352.jpg);
  background-position: top;
}

/*fin de portfolio */
/*fin formulario*/
.cont-form {
  height: auto;
  width: 100%;
  background-color: rgb(227, 227, 209);
  display: flex;
}

.formulario {
  height: 95%;
  width: 60%;
  background-color: rgb(244, 244, 234);
  display: block;
  color: rgb(92, 92, 92);
  font-size: 20px;
  padding: 40px;
  margin: auto;
  margin-top: 16px;
  border: 3px solid rgb(212, 212, 195);
}

.form-left {
  height: auto;
  width: 50%;
  background-color: rgb(227, 227, 209);
}

.cajacontacto {
  height: auto;
  width: 80%;
  background-color: rgb(227, 227, 209);
  color: rgb(92, 92, 92);
  text-align: center;
  font-size: 25px;
  padding: 40px;
  margin: auto;
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 80px;
}

p {
  color: rgb(92, 92, 92);
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  background-color: rgb(227, 227, 209);
  border: solid 3px rgb(212, 212, 195);
  padding: 30px;
}

.form-right {
  height: auto;
  width: 50%;
  background-color: bg-color1;
}

label {
  font-family: "Josefin Slab", serif;
}

input {
  padding: 6px;
  width: 100%;
  font-family: "Josefin Slab", serif;
  border: none;
  border-bottom: 2px solid rgb(204, 204, 181);
  background: transparent;
}

input:focus {
  background: linear-gradient(to bottom, transparent, rgb(220, 220, 193));
  outline: none;
}

input::-moz-placeholder {
  font-family: "Josefin Slab", serif;
  color: rgb(123, 121, 121);
  font-size: 20px;
}

input::placeholder {
  font-family: "Josefin Slab", serif;
  color: rgb(123, 121, 121);
  font-size: 20px;
}

textarea {
  width: 98%;
  background-color: rgb(244, 244, 234);
  max-height: 100px;
  resize: none;
  border: 2px solid rgb(204, 204, 181);
}

textarea:focus {
  background: linear-gradient(to bottom, transparent, rgb(220, 220, 193));
  outline: none;
}

textarea::-moz-placeholder {
  font-family: "Josefin Slab", serif;
  color: rgb(123, 121, 121);
  font-size: 20px;
}

textarea::placeholder {
  font-family: "Josefin Slab", serif;
  color: rgb(123, 121, 121);
  font-size: 20px;
}

button {
  font-size: 15px;
  font-family: "Josefin Slab", serif;
  background-color: rgb(205, 201, 201);
  padding: 5px;
  border: 2px solid rgb(227, 227, 209);
  margin-left: 80%;
}

button:hover {
  background-color: rgb(172, 172, 172);
}

/*inicio de mi contacto */
.cont-micontacto {
  height: 550px;
  width: 100%;
  background-color: rgb(227, 227, 209);
}
.cont-micontacto h2 {
  text-align: center;
  display: inline-block;
  color: rgb(92, 92, 92);
  font-family: "Josefin Slab", serif;
  font-size: 30px;
  font-weight: bolder;
  background-color: rgb(227, 227, 209);
  padding: 20px;
  border: solid 3px rgb(212, 212, 195);
  margin-left: 28%;
  margin-top: 5%;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes efecto {
  from {
    background-color: rgb(227, 227, 209);
  }
  to {
    background-color: rgb(212, 212, 195);
  }
}
.cont-micontacto .cajas {
  display: flex;
  justify-content: space-evenly;
  color: rgb(92, 92, 92);
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 50px;
  background-color: rgb(227, 227, 209);
  margin-top: 5%;
}
.cont-micontacto .cajas .caja1, .cont-micontacto .cajas .caja2:hover, .cont-micontacto .cajas .caja3:hover, .cont-micontacto .cajas .caja2, .cont-micontacto .cajas .caja3 {
  width: 180px;
  height: 180px;
  padding: 20px;
  border: 3px solid rgb(212, 212, 195);
}
.cont-micontacto .cajas .caja1:hover, .cont-micontacto .cajas .caja2:hover, .cont-micontacto .cajas .caja3:hover {
  transform: scale(1.2);
  transition: all 2.5s;
}
.cont-micontacto .cajas h3 {
  color: rgb(92, 92, 92);
  font-family: "Josefin Slab", serif;
  background: none;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}
.cont-micontacto .cajas i {
  color: rgb(92, 92, 92);
  background-color: rgb(227, 227, 209);
}

/*inicio de mi contacto */
/*inicio footer*/
footer {
  background-image: linear-gradient(to top, #c2c2ac, #cecebb, #dbdbcb, #e7e7da, #f4f4ea);
  font-size: 40px;
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(227, 227, 209);
}
footer .redes i {
  color: rgb(160, 160, 134);
  letter-spacing: 20px;
}
footer .redes i:hover {
  color: rgb(189, 189, 189);
  transform: scale(1.2);
  transition: all 1s;
}
footer h4 {
  color: rgb(160, 160, 134);
  font-size: 15px;
  padding: 10px;
}

/*fin footer*/
@media only screen and (min-width: 320px) and (max-width: 990px) {
  .logo {
    width: 80%;
  }
  .logo strong {
    width: 70%;
    font-size: 20px;
    margin-left: 10px;
  }
  .sec {
    font-size: 16px;
  }
  .nav-link {
    font-size: 13px;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .cont-inicio {
    display: inline-block;
  }
  .call {
    margin-bottom: 15%;
    width: 100%;
    padding: 10px;
  }
  .hola, .call {
    font-size: 20px;
  }
  .right p {
    font-size: 15px;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 990px) {
  .call {
    max-width: 80%;
    padding: 10px;
    margin-top: 10%;
  }
  .call .hola, .call .call {
    font-size: 20px;
  }
  .call p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1350px) {
  .call {
    width: 90%;
    padding: 15px;
    margin-top: 50px;
  }
  .call .hola, .call .call {
    font-size: 25px;
  }
  .call p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 390px) {
  .foto {
    height: 90px;
    width: 90px;
    margin: 10px;
  }
  .info {
    font-size: 15px;
  }
}
@media only screen and (min-width: 390px) and (max-width: 660px) {
  .foto {
    height: 150px;
    width: 150px;
    margin: 5px;
  }
  .info {
    font-size: 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 580px) {
  .cont-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-template-areas: "item1 item2" "item3 item4" "item3 item5" "item6 item5" "item8 item11" "item8 item10" "item9 item9" "item7 item12";
  }
}
@media only screen and (min-width: 580px) and (max-width: 1600px) {
  .cont-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
    grid-template-areas: "item1 item2 item2 item3" "item1 item4 item5 item3" "item6 item7 item5 item8" "item6 item10 item10 item8" "item9 item9 item12 item11" "item9 item9 item12 item11";
  }
}
@media only screen and (min-width: 690px) and (max-width: 1260px) {
  .cont-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-left,
  .form-right {
    width: 100%;
    height: 50%;
  }
  .cajacontacto {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
  }
  .formulario {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 690px) {
  .cont-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-left,
  .form-right {
    width: 100%;
    height: 50%;
  }
  .cajacontacto {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .cajacontacto p {
    font-size: 15px;
  }
  .formulario {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
  }
  input {
    width: 90%;
    margin-left: 10px;
  }
  textarea {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1210px) {
  .cont-micontacto h2 {
    width: 48%;
    margin-left: 28%;
  }
  .caja1, .cont-micontacto .cajas .caja2:hover, .cont-micontacto .cajas .caja3:hover,
  .caja2,
  .caja3 {
    width: 150px;
    height: 150px;
    padding: 0;
  }
  .cajas h3 {
    font-size: 20px;
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .cont-micontacto h2 {
    width: 90%;
    margin-left: 5%;
    font-size: 25px;
    padding: 10px;
  }
  .cajas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .caja1, .cont-micontacto .cajas .caja2:hover, .cont-micontacto .cajas .caja3:hover, .caja2, .caja3 {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 10px;
  }
  .cont-micontacto h3 {
    font-size: 20px;
    padding: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1210px) {
  .cont-micontacto h2 {
    padding: 20px;
    margin-right: 28%;
  }
}/*# sourceMappingURL=estilo.css.map */